html,body {
	margin:0;
	height:100%;
	background:#282c34;
	font-family:consolas,monospace;
	overflow:hidden;
	font-size:16px;
}
#wrap {
	display:flex;
	height:calc(100% - 24px);
}
#ln {
	width:50px;
	background:#21252b;
	color:#9da5b4;
	padding:8px;
	text-align:right;
	user-select:none;
	white-space:pre;
	font-size:16px;
	tab-size:4;
	overflow:hidden;
}
#box {
	flex:1;
	position:relative;
}
#view {
	position:absolute;
	inset:0;
	margin:0;
	padding:8px;
	color:#ddd;
	pointer-events:none;
	white-space:pre;
	overflow:auto;
	tab-size:4;
}
#edit {
	position:absolute;
	inset:0;
	margin:0;
	padding:8px;
	background:transparent;
	color:transparent;
	caret-color:white;
	border:none;
	outline:none;
	resize:none;
	white-space:pre;
	overflow:auto;
	font:inherit;
	tab-size:4;
}
#bar {
	height:24px;
	background:#1b1d23;
	color:#696f7a;
	display:flex;
	align-items:center;
	padding:0 8px;
	position:relative;
}
.bar-left {
	flex:1;
}
.bar-center {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	font-weight:bold;
}
.kw {
	color:#4264d6
}
.st {
	color:#f4864e
}
.cm {
	color:#65c816
}
.nu {
	color:#cec5a9
}
